#task-section {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  border-bottom: 1px solid var(--clr-8);
  padding-bottom: var(--size-3);

  & .main-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "title title title due" "note note note note";
    gap: var(--size-1);
  }

  & .task-title-input {
    grid-area: title;
  }

  & .task-note-input {
    grid-area: due;
  }

  & .task-note-input {
    grid-area: note;
  }

  & .second-inputs {
    display: flex;
  }

  & .task-priority-input {
    display: flex;
    gap: var(--size-3);
  }

  & .task-buttons {
    display: flex;
    justify-content: end;
    gap: var(--size-2);
  }
}
