#task-section {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  /* Task List */
  #task-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  /* Task Component */
  & .task {
    display: flex;
    gap: var(--size-3);
    align-items: center;
  }

  & .checkbox-cont {
    flex-basis: var(--size-5);
    display: grid;
    place-content: center;
  }

  & .info-cont {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .info-cont .task-content {
    display: grid;
    gap: var(--size-1);
  }

  & .info-cont .task-content .task-title {
    font-weight: bolder;
    font-size: var(--size-4);
    height: var(--size-4);
  }

  & .info-cont .task-content .task-note {
    color: var(--clr-4);
    height: var(--size-4);
  }

  & .buttons-cont {
    position: relative;
  }

  & .option-button {
    display: grid;
    place-content: center;

    & svg {
      user-select: none;
      pointer-events: none;
    }
  }

  & .task-option-popup {
    position: absolute;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
    background-color: var(--clr-10);
    display: flex;
    gap: var(--size-3);
    padding: var(--size-2) var(--size-3);

    & svg {
      user-select: none;
      pointer-events: none;
    }
  }
}
