#project-section {
  #project-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    margin-top: var(--size-4);

    & .project.active {
      background-color: var(--clr-10-1);
    }

    & .project {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: calc(var(--size-4) + 4px);
      padding: var(--size-2) var(--size-3);
      cursor: pointer;

      & .buttons-cont {
        position: relative;
      }

      & .option-button {
        display: grid;
        place-content: center;

        & svg {
          user-select: none;
          pointer-events: none;
        }
      }

      & .project-option-popup {
        position: absolute;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
        background-color: var(--clr-10);
        display: flex;
        gap: var(--size-3);
        padding: var(--size-2) var(--size-3);

        & svg {
          user-select: none;
          pointer-events: none;
        }
      }
    }
  }
}
