* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-0: hsl(24, 100%, 0%);
  --clr-0-1: hsl(0 0%, 20%);
  --clr-1: hsl(24, 100%, 10%);
  --clr-2: hsl(24, 100%, 20%);
  --clr-3: hsl(24, 100%, 30%);
  --clr-4: hsl(24, 100%, 40%);
  --clr-5: hsl(24, 100%, 50%);
  --clr-7: hsl(24, 100%, 70%);
  --clr-8: hsl(24, 100%, 80%);
  --clr-9: hsl(24, 100%, 90%);
  --clr-10: hsl(0, 0%, 100%);
  --clr-10-1: hsl(0, 0%, 90%);

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 2.5rem;
  --size-6: 5rem;
  --size-7: 10rem;
}

html {
  background-color: var(--clr-10);
}

p {
  line-height: 1.5;
}

input,
textarea {
  border-radius: var(--size-1);
  border: 1px solid var(--clr-8);
  padding: var(--size-2) var(--size-3);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--clr-3);
  font: inherit;
  height: calc(var(--size-4) + 8px);
  width: calc(var(--size-4) + 8px);
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

.btn,
button {
  border: none;
  background-color: var(--clr-0);
  padding: var(--size-2) var(--size-3);
  color: var(--clr-10);
  min-width: 12ch;
  border-radius: var(--size-1);
}

.btn:hover {
  background-color: var(--clr-0-1);
}

.border {
  border: 1px solid var(--clr-8);
  border-radius: var(--size-1);
}

.bg-danger {
  background-color: var(--clr-4);
}

.hidden {
  display: none !important;
}

#root {
  max-width: calc(var(--size-7) * 7);
  min-height: 100vh;
  margin: 0 auto;
  padding-block: var(--size-6);
  position: relative;

  display: flex;
  justify-content: space-between;
  gap: var(--size-3);

  > *:first-child {
    width: 30%;
  }

  > *:last-child {
    width: 70%;
  }
}

/* ICONS */
.icon {
  width: var(--size-4);
}

.pencil-icon {
  fill: var(--clr-0);
}
.trash-icon {
  fill: var(--clr-4);
}

/* Task form */
.task-form {
  display: flex;
  gap: var(--size-3);
  flex-direction: column;
  border-bottom: 1px solid var(--clr-8);
  padding-bottom: var(--size-3);

  & .main-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "title title title due" "note note note note";
    gap: var(--size-1);
  }

  & .task-title-input {
    grid-area: title;
  }

  & .task-note-input {
    grid-area: due;
  }

  & .task-note-input {
    grid-area: note;
  }

  & .second-inputs {
    display: flex;
  }

  & .task-priority-input {
    display: flex;
    gap: var(--size-3);
  }

  & .task-priority-input label {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }
}
#task-edit-form {
  position: absolute;
  border: 1px solid var(--clr-8);
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--size-2) var(--size-3);
  background-color: var(--clr-10);
}
