* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-0: hsl(24, 100%, 0%);
  --clr-0-1: hsl(0 0%, 20%);
  --clr-1: hsl(24, 100%, 10%);
  --clr-2: hsl(24, 100%, 20%);
  --clr-3: hsl(24, 100%, 30%);
  --clr-4: hsl(24, 100%, 40%);
  --clr-5: hsl(24, 100%, 50%);
  --clr-7: hsl(24, 100%, 70%);
  --clr-8: hsl(24, 100%, 80%);
  --clr-9: hsl(24, 100%, 90%);
  --clr-10: hsl(0, 0%, 100%);
  --clr-10-1: hsl(0, 0%, 90%);

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 2.5rem;
  --size-6: 5rem;
  --size-7: 10rem;
}

html {
  background-color: var(--clr-10);
}

p {
  line-height: 1.5;
}

input,
textarea {
  border-radius: var(--size-1);
  border: 1px solid var(--clr-8);
  padding: var(--size-2) var(--size-3);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--clr-3);
  font: inherit;
  height: calc(var(--size-4) + 8px);
  width: calc(var(--size-4) + 8px);
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

.btn,
button {
  border: none;
  background-color: var(--clr-0);
  padding: var(--size-2) var(--size-3);
  color: var(--clr-10);
  min-width: 12ch;
  border-radius: var(--size-1);
}

.btn:hover {
  background-color: var(--clr-0-1);
}

.border {
  border: 1px solid var(--clr-8);
  border-radius: var(--size-1);
}

.bg-danger {
  background-color: var(--clr-4);
}

.hidden {
  display: none !important;
}

#root {
  max-width: calc(10rem * 5);
  min-height: 100vh;
  margin: 0 auto;
  padding-block: var(--size-6);
}

/* ICONS */
.icon {
  width: var(--size-4);
}

.pencil-icon {
  fill: var(--clr-0);
}
.trash-icon {
  fill: var(--clr-4);
}
